<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<h3 style=" color: #7c795d; font-family: 'Trocchi', serif; font-size: 30px; font-weight: normal; line-height: 48px; margin: 0;">To reset your password, click the link below.</h3>
<p style=" color: #4c4a37; font-family: 'Source Sans Pro', sans-serif; font-size: 15px; line-height: 32px; margin: 0 0 24px; ">This change password link will become invalid after 7 days.</p>
<a th:href="${password_link}" style=" color: #d63031; transition: .5s; -moz-transition: .5s; -webkit-transition: .5s; -o-transition: .5s; font-family: 'Muli', sans-serif;">Click this reset link</a>

</body>
</html>